---
layout: default
title: Jingfan Sun | Notes
---
<div class="jumbotron jumbotron-fluid">
    <div class="container text-center">
        <h1 class="display-4">Notes</h1>
        <p class="lead"></p>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 mx-auto">
            <div class="row no-gutters">
                {% for post in site.categories.notes %}
                <!-- <div class="col-md-12" style="line-height:100%;"><br></div> -->
                <div class="col-md-4 items-to-hide">
                    <span class="tags" style="display: none">{{ post.tags | jsonify}}</span>
                    <img src="{{ post.cover_img }}" class="card-img">
                </div>
                <div class="col-md-8 items-to-hide">
                    <span class="tags" style="display: none">{{ post.tags | jsonify}}</span>
                    <div class="card-body">
                        <a class="h3" href="{{ post.url }}">{{ post.title }}</a>
                        <br>
                        <a class="lead" class="blockquote-footer">
                            {{ post.date | date: "%b %-d, %Y" }},
                            <em>{{ post.content | number_of_words }}</em> words
                        </a>
                    </div>
                </div>
                <div class="col-md-12 items-to-hide">
                    <span class="tags" style="display: none">{{ post.tags | jsonify}}</span>
                    <p>&nbsp;</p>
                    <hr style="width: 100%; color: rgba(0,0,0,0.1); height: 0.2pt; background-color:rgba(0,0,0,0.1);" />
                    <p>&nbsp;</p>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-3 d-none d-md-block">
            <div class="text-left sticky-top" style="top: 100px;">
                <button type="button" class="topic btn btn-success btn-sm" data-name="all">
                    All <span
                        class="badge badge-light">{% assign counter = 0 %}{% for item in site.categories.notes %}{% assign counter=counter | plus:1 %}{% endfor %}{{ counter }}</span>
                </button>
                <div style="line-height:50%;"><br></div>
                <button type="button" class="topic btn btn-info btn-sm" data-name="arts">
                    Arts <span
                        class="badge badge-light">{% assign counter = 0 %}{% for item in site.categories.notes %}{% if item.tag contains 'arts' %}{% assign counter=counter | plus:1 %}{% endif %}{% endfor %}{{ counter }}</span>
                </button>
                <div style="line-height:50%;"><br></div>
                <button type="button" class="topic btn btn-info btn-sm" data-name="knowledge">
                    Knowledge <span
                        class="badge badge-light">{% assign counter = 0 %}{% for item in site.categories.notes %}{% if item.tag contains 'knowledge' %}{% assign counter=counter | plus:1 %}{% endif %}{% endfor %}{{ counter }}</span>
                </button>
                <div style="line-height:50%;"><br></div>
                <button type="button" class="topic btn btn-info btn-sm" data-name="tech_tips">
                    Tech Tips <span
                        class="badge badge-light">{% assign counter = 0 %}{% for item in site.categories.notes %}{% if item.tag contains 'tech_tips' %}{% assign counter=counter | plus:1 %}{% endif %}{% endfor %}{{ counter }}</span>
                </button>
                <div style="line-height:50%;"><br></div>
            </div>
        </div>
    </div>
</div>

<script src="/js/filter.js"></script>