---
layout: default
title: Jingfan Sun | Publications
---
<!-- <div class="jumbotron jumbotron-fluid" style="background:transparent url('assets/universe.jpg') 50% 15% /cover"> -->
<div class="jumbotron jumbotron-fluid">
	<div class="container text-center">
		<h1 class="display-4">Publications</h1>
		<p class="lead"></p>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-lg-10 col-md-20 mx-auto">
			<!-- Journal Articles -->
			<h3 id="journal-articles">Journal Articles</h3>
			<ol class="lead">
				{% for post in site.categories.publications %}
				{% if post.publication-type == 'journal' %}
				<div class="row">
					<div class="col-lg-10 mx-auto">

						<li>
							<a href="{{ post.url }}">{{ post.title }}</a>
							<a class="blockquote-footer"> {{ post.author }} </a>
							<a class="blockquote-footer"><em> {{ post.journal }}, {{ post.year }} </em></a>
						</li>
					</div>
					<div class="col mx-auto">
						{% if post.pdf %}
						<a href="{{ post.pdf }}" class="badge badge-success">PDF</a>
						{% endif %}
						{% if post.external-url %}
						<a href="{{ post.external-url }}" class="badge badge-secondary">URL</a>
						{% endif %}
					</div>
				</div>

				{% endif %}
				{% endfor %}
			</ol>

			<!-- <h3 id="journal-articles">Journal Articles</h3>
			<ol class="bibliography"></ol> -->


			<!-- Conference Proceedings -->

			<h3 id="conference_proceedings">Conference Proceedings</h3>

			<ol class="lead">
				{% for post in site.categories.publications %}
				{% if post.publication-type == 'conference' %}

				<div class="row">
					<div class="col-lg-10 mx-auto">

						<li>
							<a href="{{ post.url }}">{{ post.title }}</a>
							<a class="blockquote-footer"> {{ post.author }} </a>
							<a class="blockquote-footer"><em> {{ post.conference }}, {{ post.year }} </em></a>
						</li>
					</div>
					<div class="col mx-auto">
						{% if post.pdf %}
						<a href="{{ post.pdf }}" class="badge badge-success">PDF</a>
						{% endif %}
						{% if post.external-url %}
						<a href="{{ post.external-url }}" class="badge badge-secondary">URL</a>
						{% endif %}
					</div>
				</div>

				{% endif %}
				{% endfor %}
			</ol>

			<h3 id="technical-reports">Technical Reports</h3>

			<ol class="lead">
				{% for post in site.categories.publications %}
				{% if post.publication-type == 'report' %}

				<div class="row">
					<div class="col-lg-10 mx-auto">

						<li>
							<a href="{{ post.url }}">{{ post.title }}</a>
							<a class="blockquote-footer"> {{ post.author }} </a>
							<a class="blockquote-footer"><em> {{ post.publisher }}, {{ post.year }} </em></a>
						</li>
					</div>
					<div class="col mx-auto">
						{% if post.pdf %}
						<a href="{{ post.pdf }}" class="badge badge-success">PDF</a>
						{% endif %}
						{% if post.external-url %}
						<a href="{{ post.external-url }}" class="badge badge-secondary">URL</a>
						{% endif %}
					</div>
				</div>

				{% endif %}
				{% endfor %}
			</ol>

			<h3 id="theses-dissertations">PhD Dissertation</h3>

			<ol class="lead">
				{% for post in site.categories.publications %}
				{% if post.publication-type == 'dissertation' %}

				<div class="row">
					<div class="col-lg-10 mx-auto">

						<li>
							<a href="{{ post.url }}">{{ post.title }}</a>
							<a class="blockquote-footer"> {{ post.author }} </a>
							<a class="blockquote-footer"><em> {{ post.publisher }}, {{ post.year }} </em></a>
						</li>
					</div>
					<div class="col mx-auto">
						{% if post.pdf %}
						<a href="{{ post.pdf }}" class="badge badge-success">PDF</a>
						{% endif %}
						{% if post.external-url %}
						<a href="{{ post.external-url }}" class="badge badge-secondary">URL</a>
						{% endif %}
					</div>
				</div>

				{% endif %}
				{% endfor %}
			</ol>

		</div>
	</div>
</div>